.section-products {
    margin-top: 1.7em;

    &__title {
        font-size: 1rem;
    }
}

.container-list-products {
    display: flex;
    gap: 1.3em;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .container-list-products {
        gap: 1.6em;
    }

    .section-products {
        &__title {
            font-size: 1.25rem;
        }
    }
}